* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.obrazovka {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.podsebou {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.vedlesebe {
  display: flex;
  flex-direction: row;
  gap: 0;
  flex-grow: 1;
}
.sizeImg{
  height: 120px;
  width: 250px;
  padding: 15px;
}

.pad50{
  padding: 50px;
}

.mar50{
  margin: 50px;
}

.max {
  flex-grow: 1;
}

.min {
  min-height: 60px;
  min-width: 120px;
}

.maxi{
  width: 150px;
}

.flex{
  display: flex;
}

.sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 30px;
  width: 500px;
}

.hlavni {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.hlavni h1 {
  text-align: center;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.tlacitko1 {
  background-color: rgb(194, 241, 243);
  width: 900px;
  min-height: 100px;
  border: none;
  cursor: pointer;
    font-family: "Titan One", sans-serif;
    font-size: 60px;

}
.tlacitko2 {
  background-color: rgb(163, 185, 178);
  width: 50%;
  height: 200px;
  border: none;
  
}

.tlacitko1.expanded {
  min-height: 200px;
}

button:hover {
  background-color: rgb(111, 204, 247);
  border-radius: 5px;
}

#expand-text {
  display: none;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

.p1 h1 {
  font-family: cursive, serif;
  text-align: center;
  padding: 10px;
  font-size: 70px;
}

.font {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 70px;
  text-align: center;
}

.center{
    justify-content: center;
    
}

 .Limelight{
  font-family: "Limelight", sans-serif;
  font-size: 70px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}

.titanic {
  font-family: "Titan One", sans-serif;
  font-size: 60px;
  text-align: center;
}

.titan {
    font-family: "Titan One", sans-serif;
    font-size: 60px;
 text-align: center;
}


.kachna{
  font-family: "Playwrite NZ Basic", cursive;
      font-size: 60px;
 text-align: center;
}
.kapr{
  font-family: "Caprasimo", serif;
   font-size: 60px;
 text-align: center;
}

.Oskar{
    font-family: "Oswald", sans-serif;
    font-size: 27px;
  text-align: center;
}
.h10{
  text-align: right;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 70px;
  padding-right: 120px;
}
.piskobila { background-color: rgb(252, 175, 147); border-radius: 10px; }

/* color palette */

.seda{
  background-color: rgb(245, 245, 245);
}
.babyblue{
  background-color: rgb(223, 241, 241);
}
.grayblue{
  background-color: rgb(187, 213, 218);
}
.sedsiseda{
  background-color: rgb(57, 62, 70);
}
.black{
  background-color:rgb(31, 31, 31);
}